/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

p {
  margin-bottom: 1.5rem; }

a {
  color: #119DA4; }
  a:hover {
    text-decoration: none; }

img {
  width: 100%;
  height: auto;
  display: block; }

ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px; }

html {
  font-family: "Work Sans", sans-serif; }

body {
  font-size: 1.6rem;
  color: #000000;
  line-height: 2rem; }

h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  font-size: 4vw;
  line-height: 100%;
  text-transform: uppercase; }
  @media screen and (min-width: 62.5em) {
    h1 {
      font-size: 3vw; } }

h2 {
  font-size: calc(1.6rem + .9rem);
  margin-bottom: 3rem;
  line-height: 3rem; }

h3 {
  font-size: calc(1.6rem + .4rem);
  margin-bottom: 1rem; }

strong {
  font-weight: 700; }

.grid__container {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(55vw, 85vw) minmax(1rem, 1fr);
  grid-template-areas: ". wrapper ."; }
  @media screen and (min-width: 37.5em) {
    .grid__container {
      grid-template-columns: minmax(1rem, 1fr) minmax(55vw, 75vw) minmax(1rem, 1fr); } }
  @media screen and (min-width: 62.5em) {
    .grid__container {
      grid-template-columns: minmax(3rem, 1fr) minmax(55vw, 120rem) minmax(3rem, 1fr); } }
  @media screen and (min-width: 118.75em) {
    .grid__container {
      grid-template-columns: minmax(1rem, 1fr) 120rem minmax(1rem, 1fr); } }

.grid__row {
  grid-area: wrapper; }

.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header" "main" "footer" "footer-bottom"; }
  @media screen and (min-width: 37.5em) {
    .page {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      grid-template-areas: "header" "nav-desktop" "main" "footer" "footer-bottom"; } }

.nav {
  color: #FFFFFF; }
  .nav--top {
    background: #E8351D;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 190; }
    @media screen and (min-width: 62.5em) {
      .nav--top {
        display: none; } }
  .nav--hidden {
    display: none; }
  .nav--header {
    display: none;
    background: #E8351D;
    padding: 2rem 0;
    grid-area: nav-desktop; }
    @media screen and (min-width: 62.5em) {
      .nav--header {
        display: block; } }
  .nav--footer {
    display: none; }
    @media screen and (min-width: 62.5em) {
      .nav--footer {
        display: block; } }
  .nav__items {
    list-style: none;
    padding-left: 0;
    display: flex; }
  .nav__item:not(:last-child) {
    margin-right: 3rem; }

.link {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.3s; }
  .link:hover {
    color: #000000; }

.is-active {
  color: #000000; }

.menu-overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  right: -100vw;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 99;
  color: #FFFFFF;
  background: #0C7489;
  transition: all 0.9s;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 1fr 5fr 1fr 1fr;
  grid-template-areas: ". btn ." ". list ." ". cta ." ". footer ."; }
  @media screen and (min-width: 62.5em) {
    .menu-overlay {
      display: none; } }
  .menu-overlay--visible {
    opacity: 1;
    right: 0; }
  .menu-overlay__list {
    grid-area: list;
    justify-self: center; }
  .menu-overlay__items {
    list-style: none;
    font-size: 3rem;
    line-height: 5rem;
    text-align: center; }
  .menu-overlay__footer {
    grid-area: footer;
    justify-self: end;
    align-self: end;
    padding: 2rem; }

.close__button {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  margin-top: 1.5rem;
  text-align: center;
  justify-self: end;
  grid-area: btn; }

.header {
  background: #13505B;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(55vw, 75vw) minmax(2rem, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  grid-area: header; }
  @media screen and (min-width: 37.5em) {
    .header {
      grid-template-columns: minmax(2rem, 1fr) minmax(49vw, 69vw) minmax(2rem, 1fr); } }
  @media screen and (min-width: 62.5em) {
    .header {
      grid-template-columns: minmax(2rem, 1fr) minmax(45vw, 65vw) minmax(2rem, 1fr); } }
  @media screen and (min-width: 62.5em) {
    .header {
      margin-top: 0; } }
  .header__node, .header__field, .header__img-field {
    object-fit: cover;
    height: 100%; }
  .header__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
    display: block; }
    @media screen and (min-width: 37.5em) {
      .header__img {
        display: none; } }
    .header__img--desktop {
      display: none; }
      @media screen and (min-width: 37.5em) {
        .header__img--desktop {
          display: block;
          grid-column: 1 / -1;
          grid-row: 1 / -1;
          z-index: 1; } }
      @media screen and (min-width: 118.75em) {
        .header__img--desktop {
          display: none; } }
    .header__img--big-desktop {
      display: none; }
      @media screen and (min-width: 118.75em) {
        .header__img--big-desktop {
          display: block;
          grid-column: 1 / -1;
          grid-row: 1 / -1;
          z-index: 1; } }
  .header__club-identification {
    z-index: 3;
    background: rgba(0, 0, 0, 0.35);
    padding: 1rem;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 37.5em) {
      .header__club-identification {
        padding: 2rem; } }
    @media screen and (min-width: 62.5em) {
      .header__club-identification {
        padding: 3rem; } }
    .header__club-identification--page {
      color: #FFFFFF;
      background: none; }
  .header__logo {
    width: 6rem;
    margin-left: 2rem; }
  .header__logo-wrap {
    padding: 0 1rem;
    display: flex;
    align-items: flex-end; }
  .header__title {
    margin-left: 2rem;
    text-align: center; }

@media screen and (min-width: 37.5em) {
  .grid-header__img--desktop {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%); } }

@media screen and (min-width: 37.5em) {
  .grid-header__img--big-desktop {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50%); } }

.main {
  margin: 4rem 0 6rem;
  grid-area: main; }
  .main__front-wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    align-items: start;
    grid-template-areas: "agenda" "main-content" "sidebar" "sub-content"; }
    @media screen and (min-width: 62.5em) {
      .main__front-wrap {
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "agenda sidebar" "main-content sidebar" "sub-content sidebar"; } }
  .main__front-content {
    grid-area: main-content; }
  .main__sub-content {
    grid-area: sub-content;
    display: grid;
    grid-gap: 4rem; }

@media screen and (min-width: 62.5em) {
  .main__page-wrap {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 4rem;
    grid-template-areas: "main-content sidebar"; } }

.main__page-no-sidebar {
  width: 100%; }

.main__content {
  grid-area: main-content; }

.sidebar {
  grid-area: sidebar; }
  .sidebar__photos {
    display: none; }
    @media screen and (min-width: 62.5em) {
      .sidebar__photos {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1.5rem;
        justify-content: space-between; } }
  .sidebar__images-block {
    margin-bottom: 2rem; }

.footer {
  background: #119DA4;
  color: #FFFFFF;
  padding: 8rem 0;
  grid-area: footer; }
  .footer__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "two two" "four three"; }
  @media screen and (min-width: 62.5em) {
    .footer__inner {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "four two three one";
      align-items: center; } }
  .footer__one {
    grid-area: one;
    text-align: center; }
  .footer__two {
    grid-area: two;
    text-align: center; }
  .footer__three {
    grid-area: three; }
  .footer__three-paragraph {
    font-size: 1rem; }
  .footer__four {
    grid-area: four; }
  .footer__member-of {
    max-width: 14rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    max-width: 14rem;
    margin: 0 auto; }
  .footer__quote {
    display: block;
    border-width: 1px 0;
    border-style: solid;
    border-color: #FFFDD4;
    padding: 2.5rem 0;
    margin: 1.5rem 0 6rem;
    position: relative; }
    @media screen and (min-width: 62.5em) {
      .footer__quote {
        border-width: 1px 0 0;
        margin: 1.5rem 0; } }
    .footer__quote::before {
      content: "\201C";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #119DA4;
      width: 3rem;
      height: 2rem;
      font-size: 7rem;
      line-height: 6rem;
      color: #FFFDD4;
      text-align: center; }
  .footer__bottom {
    grid-area: footer-bottom;
    background-color: #0C7489;
    color: #FFFFFF;
    padding: 2rem 0; }
  .footer__copy {
    font-size: 1rem; }

.footer-nav__item:not(:last-child) {
  margin-bottom: 1rem; }

.footer-nav__link {
  text-decoration: none;
  color: #FFFDD4;
  transition: all 0.3s; }
  .footer-nav__link:hover {
    color: #000000; }

.hamburger {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-end; }
  .hamburger__button {
    height: 4rem;
    width: 4rem;
    text-align: center;
    transition: all 1.2s;
    margin-top: -1.6rem;
    cursor: pointer; }
  .hamburger__icon--open {
    position: relative;
    transform: translateY(2.5rem);
    width: 2rem; }
    .hamburger__icon--open, .hamburger__icon--open::before, .hamburger__icon--open::after {
      height: 1px;
      background-color: #FFFFFF;
      display: inline-block;
      transition: all 0.3s; }
    .hamburger__icon--open::before, .hamburger__icon--open::after {
      content: "";
      position: absolute;
      left: 0; }
    .hamburger__icon--open::before {
      top: -0.6rem;
      width: 2rem; }
    .hamburger__icon--open::after {
      top: 0.6rem;
      width: 2rem; }
  .hamburger__icon--close {
    position: relative;
    width: 0; }
    .hamburger__icon--close, .hamburger__icon--close::before, .hamburger__icon--close::after {
      height: 1px;
      background-color: #FFFFFF;
      display: inline-block;
      transition: all 0.3s; }
    .hamburger__icon--close::before, .hamburger__icon--close::after {
      content: "";
      position: absolute;
      left: 0; }
    .hamburger__icon--close::before {
      transform: rotate(135deg);
      top: 1rem;
      width: 2rem; }
    .hamburger__icon--close::after {
      transform: rotate(-135deg);
      top: 1rem;
      width: 2rem; }

.btn {
  cursor: pointer; }
  .btn, .btn:link, .btn:visited {
    color: transparant;
    background: transparant;
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    display: inline-block; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3); }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3); }
  .btn--green {
    color: #FFFFFF;
    background: #119DA4;
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    display: inline-block; }
  .btn--green-border {
    color: #FFFFFF;
    background: #119DA4;
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    transition: all 0.3s;
    display: inline-block; }
  .btn--red {
    color: #FFFFFF;
    background: #E8351D;
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    display: inline-block; }
  .btn--full-width {
    width: 100%;
    text-align: center; }

.image__content {
  width: 100%;
  display: block;
  margin-bottom: 2rem; }
  @media screen and (min-width: 37.5em) {
    .image__content {
      width: 35vw;
      float: left;
      margin-right: 2rem; } }
  @media screen and (min-width: 62.5em) {
    .image__content {
      width: 18vw;
      float: left;
      margin-right: 2rem;
      margin-bottom: 0; } }

.read-more {
  grid-area: btn;
  align-self: end; }
  .read-more--right {
    justify-self: end;
    text-align: right; }
  .read-more--left {
    justify-self: start; }

.title__link {
  text-decoration: none; }

.panel {
  padding: 2rem;
  transition: all 0.3s;
  position: relative; }
  .panel > a {
    text-decoration: none;
    color: #000000; }
  .panel--red {
    border: solid 2px #E8351D;
    cursor: pointer; }
    .panel--red:hover {
      transform: translateY(-0.3rem);
      box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3); }
  .panel--blue {
    border: solid 2px #119DA4; }

label {
  display: inline-block;
  margin-bottom: 1rem; }

.form-text, .form-number, .form-email, .form-select, .form-url {
  padding: .7rem;
  width: 100%; }

.form-type-radio:not(:last-child) {
  margin-right: 2rem; }

.form-item-message {
  margin-bottom: 3rem; }

.form-item-geslacht {
  display: inline-block; }

.cta {
  grid-area: cta; }
  @media screen and (min-width: 62.5em) {
    .cta {
      margin-bottom: 4rem; } }

.activities__content {
  margin: 2rem 0; }

.agenda__teaser {
  grid-area: agenda;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas: "header" "date" "body" "btn"; }
  @media screen and (min-width: 62.5em) {
    .agenda__teaser {
      grid-template-columns: minmax(15rem, 16rem) 4fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas: "date header" "date body" "date btn"; } }

.agenda__date-field {
  display: flex; }
  .agenda__date-field .d {
    margin-right: 0.5rem; }
  .agenda__date-field .m {
    margin-right: 0.5rem;
    text-transform: uppercase; }
  @media screen and (min-width: 62.5em) {
    .agenda__date-field {
      display: block; }
      .agenda__date-field .d {
        font-size: 6rem;
        font-weight: 700;
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 3rem; }
      .agenda__date-field .m {
        font-size: 2rem;
        margin-right: 0;
        margin-bottom: 1rem; } }

.agenda__header {
  grid-area: header; }

.agenda__date {
  grid-area: date;
  background: #0C7489;
  color: #FFFFFF;
  padding: 1rem 1.5rem;
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 62.5em) {
    .agenda__date {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center; } }

.agenda__body {
  grid-area: body; }

.grid-agenda__page {
  margin-bottom: 4rem; }
  .grid-agenda__page > div:not(:last-child) {
    margin-bottom: 2rem; }
  @media screen and (min-width: 62.5em) {
    .grid-agenda__page > div {
      margin-bottom: 2rem; } }
  @media screen and (min-width: 62.5em) {
    .grid-agenda__page {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem; } }

.agenda__full {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  grid-template-areas: "header" "date" "body"; }

@media screen and (min-width: 37.5em) {
  .agenda__body {
    display: flex; } }

.body__img {
  margin-bottom: 2rem; }
  @media screen and (min-width: 37.5em) {
    .body__img {
      flex: 1;
      margin-right: 2rem; } }

.body__info {
  flex: 1;
  margin-bottom: 3rem; }

.body__annex {
  border: 1px solid #E8351D;
  padding: 2rem; }
  .body__annex-label {
    margin-bottom: 1rem; }

.board__view {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem; }

.board__panel:not(:last-child) {
  margin-bottom: 2rem; }
  @media screen and (min-width: 30em) {
    .board__panel:not(:last-child) {
      margin-bottom: 0; } }

.board-member {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, auto); }
  .board-member__name {
    margin-bottom: 3rem; }
  .board-member__photo {
    width: 75%;
    margin: 0 auto 3rem; }
  .board-member__email {
    margin-bottom: 2rem;
    font-size: 1.2rem; }
  .board-member__info {
    padding: 1rem;
    background-color: #119DA4;
    color: #FFFFFF;
    display: flex;
    align-items: center; }

.webform-submission-form {
  margin-bottom: 3rem; }

.form-textarea-wrapper {
  margin-bottom: 2rem; }

.hyperlinks__view-filters {
  margin-bottom: 3rem; }

.hyperlinks__form-radios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem;
  border: 1px solid #119DA4;
  margin-top: 1rem; }

.hyperlinks__view {
  margin-bottom: 3rem; }
  @media screen and (min-width: 62.5em) {
    .hyperlinks__view {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem; } }

.hyperlinks__row {
  margin-bottom: 2rem; }
  @media screen and (min-width: 62.5em) {
    .hyperlinks__row {
      margin-bottom: 0; } }

.bef-exposed-form .form--inline > .form-item {
  width: 100%; }

.photoalbum__view {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  grid-gap: 2rem;
  margin-bottom: 3rem; }

.photoalbum__heading {
  font-size: calc(1.6rem + .2rem);
  margin-bottom: 0;
  color: #119DA4; }

.photoalbum__img {
  margin-bottom: 3rem; }

.photoalbum__field {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-gap: 1rem;
  grid-auto-rows: 25rem 17rem 25rem;
  grid-auto-flow: dense;
  margin-bottom: 3rem; }

.photoalbum__field-item {
  transition: all 0.3s; }
  .photoalbum__field-item:hover {
    filter: brightness(50%);
    transform: scale(1.01); }
  .photoalbum__field-item img {
    object-fit: cover; }
  @media screen and (min-width: 62.5em) {
    .photoalbum__field-item:first-child {
      grid-area: 1 / 1 / span 2 / span 2; }
    .photoalbum__field-item:nth-child(3n) {
      grid-column: span 2; }
    .photoalbum__field-item:nth-child(5n) {
      grid-row: span 2; } }

.profile__wrap {
  display: flex; }

.profile__picture {
  max-width: 10rem; }

.profile__content {
  padding: 1rem 3rem; }

.info-get-member__img {
  max-width: 25rem;
  height: auto;
  margin-right: 2rem;
  display: none; }
  @media screen and (min-width: 62.5em) {
    .info-get-member__img {
      display: block;
      float: left; } }

.u-align-center {
  text-align: center; }

.u-flex-align-right {
  align-self: flex-end; }

.u-margin-top {
  margin-top: 2rem; }

.u-negative-margin-top {
  margin-top: -3rem; }

.u-negative-big-margin-top {
  margin-top: -12rem; }

.u-margin-bottom {
  margin-bottom: 2rem; }

.u-margin-right-less {
  margin-right: 1rem; }

.u-margin-right {
  margin-right: 2rem; }

.u-full-width {
  width: 100%; }

.u-mb--null {
  margin-bottom: 0 !important; }

.agenda-body__clearfix::after {
  clear: none; }
