// /////////////////////////////////////
// @@ ACTIVITIES teaser and full node
// /////////////////////////////////////

.activities {
  &__teaser {
    display: grid;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "img"
      "body"
      "btn";

    @include mq(tablet) {
     
    }
  }

  &__title {
    grid-area: title;
  }

  &__link {
    text-decoration: none;
  }

  &__body {
    grid-area: body;
  }

  &__full-node {
    display: block;
  }
}
