// /////////////////////////////////////
// @@ ACTIVITIES teaser and full node
// /////////////////////////////////////

.activities {
  &__teaser {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-areas:
    //   "title"
    //   "img"
    //   "body"
    //   "btn";

    @include mq(tablet) {
      display: block;
    }
  }

  &__title {
    grid-area: title;
  }

  &__link {
    text-decoration: none;
  }

  &__content {
    margin: 2rem 0;
  }

  &__body {
    grid-area: body;
  }

  &__full-node {
    display: block;
  }
}
