// /////////////////////////////////////
// @@ AGENDA teaser and full node
// /////////////////////////////////////

.agenda {
  &__teaser {
    grid-area: agenda;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      "header"
      "date"
      "body"
      "btn";

    @include mq(desktop) {
      grid-template-columns: minmax(15rem, 16rem) 4fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "date header"
        "date body"
        "date btn";
    }
  }

  // class .d .m .y create at /admin/structure/types/manage/agenda/display/teaser
  @include e(date-field) {
    display: flex;

    & .d {
      margin-right: 0.5rem;
    }

    & .m {
      margin-right: 0.5rem;
      text-transform: uppercase;
    }
    @include mq(desktop) {
      display: block;

      & .d {
        font: {
          size: 6rem;
          weight: $fw-bold;
        }
        margin-right: 0;
        margin-top: 2rem;
        margin-bottom: 3rem;
      }

      & .m {
        font: {
          size: 2rem;
        }
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }

  @include e(header) {
    grid-area: header;
  }

  @include e(date) {
    grid-area: date;
    background: $metallic-seaweed;
    color: $white;
    padding: 1rem 1.5rem;
    @include box-shadow();

    @include mq(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  // format separate date components
  // field--field-agenda-date.html.twig

  &__body {
    grid-area: body;
  }

  &__full-node {
  }
}

// views-view--agenda_page.html.twig
.grid-agenda {
  &__page {
    margin-bottom: 4rem;

    & > div {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }

      @include mq(desktop) {
        margin-bottom: 2rem;
      }
    }

    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
    }
  }
}

// full node agenda node--agenda--full.html.twig
.agenda {
  @include e(full) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      "header"
      "date"
      "body";
  }

  @include e(body) {
    @include mq(tablet) {
      display: flex;
    }
  }
}

.body {
  @include e(img) {
    margin-bottom: 2rem;

    @include mq(tablet) {
      flex: 1;
      margin-right: 2rem;
    }
  }

  @include e(info) {
    flex: 1;
    margin-bottom: 3rem;
  }

  @include e(annex) {
    border: 1px solid $red;
    padding: 2rem;

    &-label {
      margin-bottom: 1rem;
    }
  }
}
