// /////////////////////////////////////
// @@ AGENDA teaser and full node
// /////////////////////////////////////

.agenda {  
  &__teaser {
    grid-area: agenda;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      "header"
      "date"
      "body"
      "btn";

    border: solid 2px $red;
    padding: 2rem;
    text-decoration: none;
    color: $clr-text;
    transition: all 0.3s;

    @include hover();

    @include mq(desktop) {
      grid-template-columns: minmax(13rem, 14rem) 4fr;
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "date header"
        "date body"
        ". btn";
    }
  }

  &__header {
    grid-area: header;
  }

  &__date {
    grid-area: date;

    background: $metallic-seaweed;
    color: $white;
    padding: 1rem 1.5rem;
    justify-self: start;

    @include mq(desktop) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }

  &__body {
    grid-area: body;
  }


  &__full-node {
    
  }
}


.date {
  &__day {
    @include mq(desktop) {
      font: {
        size: 4rem;
        weight: 700;
      }
      line-height: 4rem;
    }
  }

  &__month {
  }

  &__year {
  }
}