// /////////////////////////
// @@ HYPERLINKS
// ////////////////////////

.hyperlinks {
  &__view-filters {
    margin-bottom: 3rem;
  }

  &__form-radios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    padding: 2rem;
    border: 1px solid $blue-green;
    margin-top: 1rem;
  }

  &__view {
    margin-bottom: 3rem;

    @include mq(desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }

  &__row {
    margin-bottom: 2rem;

    @include mq(desktop) {
      margin-bottom: 0;
    }
  }

  &__node {
  }

  &__title {
  }

  &__url {
  }
}

// makes the fieldset in hyperlinks__view-filters full width
.bef-exposed-form .form--inline > .form-item {
  width: 100%;
}