// /////////////////////////
// @@ PHOTO ALBUMS
// ////////////////////////

.photoalbum {
  $root: &;

  // teaser node and view
  &__view {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-gap: 2rem;
    margin-bottom: 3rem;
  }

  &__row {}

  &__node {
    &:hover {
      #{$root}__title {
        
      }
    }
  }

  &__title {}

  &__heading {
    font: {
      size: calc(#{$ff-size} + .2rem); 
    }
    margin-bottom: 0;
    color: $blue-green;
    
  }

  &__img {
    margin-bottom: 3rem;
    
  }

  // full-node - field--node--field-photoalbum-img.html.twig

  &__field {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-gap: 2rem;
    grid-auto-rows: 25rem 17rem;
    grid-auto-flow: dense;

    margin-bottom: 3rem;
    
  }

  &__field-item {
    img {
      object-fit: cover;
    }

    @include mq(desktop) {
      &:first-child {
        grid-area: 1 / 1 / span 2 / span 2;
      }

      &:nth-child(3n) {
        grid-column: span 2;
      }

    }
    
  }
}