{# 
/**
 * The indentification region in header 
 * on the page--front.html.twig and page.html.twig
*/
#}


<div class="header__logo">
  <a href="{{ path('<front>') }}"><img src="{{ base_path ~ directory }}/images/logo.jpg" alt="LOMC Logo" /></a>
</div>

<div class="header__title">
  <h1>{{ site_name }}</h1>
</div>
