{# 
/**
 * The indentification region in header 
 * on the page--front.html.twig
*/
#}

<div class="header__logo-wrap">
  <h1><a href="{{ path('<front>') }}"><img src="{{ base_path ~ directory }}/dist/images/LOMC.png" alt="LOMC Logo" /></a></h1>
  <div class="header__logo">
    <a href="{{ path('<front>') }}"><img src="{{ base_path ~ directory }}/dist/images/logo.jpg" alt="LOMC Logo" /></a>
  </div>
  
</div>