<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet" />
  <link rel="stylesheet" href="../../css/styles.css" />
  <title>LOMC</title>
</head>

<body>
  <!-- Navigation top for mobile view -->
  <div class="navigation">
    <div class="hamburger">
      <span>MENU</span>
      <div class="hamburger__button">
        <span class="hamburger__icon--open">&nbsp;</span>
      </div>
    </div>
  </div>

  <!-- menu overlay only for mobile view -->
  <div class="menu-overlay">

    <div class="close__button">
      <span class="hamburger__icon--close">&nbsp;</span>
    </div>
    <nav class="menu-overlay__list">

      <ul class="menu-overlay__items">
        <li class="menu-overlay__item">Home</li>
        <li class="menu-overlay__item">Contact</li>
        <li class="menu-overlay__item">Linken</li>
        <li class="menu-overlay__item">Foto's</li>
        <li class="menu-overlay__item">Lid worden</li>
      </ul>

    </nav>
  </div>

  <div class="page">

    <!-- header -->
    <header class="header">
      <!-- <div class="header__overlay"></div> -->

      <!-- one image random -->
      <div class="header__img">
        <img src="../../images/html-img/black-white01.jpg" alt="" />
      </div>

      <!-- collection of images placed by grid random ordered -->
      <div class="header__img--desktop">
        <img src="../../images/html-img/DSC02645.JPG" alt="">
        <img src="../../images/html-img/DSC02650.JPG" alt="">
        <img src="../../images/html-img/DSC02661.JPG" alt="">
        <img src="../../images/html-img/DSCN5654.jpg" alt="">
        <img src="../../images/html-img/DSCN5656.jpg" alt="">
        <img src="../../images/html-img/DSCN5657.jpg" alt="">
        <img src="../../images/html-img/DSCN5712.jpg" alt="">
        <img src="../../images/html-img/mlp2006-(101).jpg" alt="">
      </div>

      <div class="header__img--big-desktop">
        <img src="../../images/html-img/DSC02645.JPG" alt="">
        <img src="../../images/html-img/DSC02650.JPG" alt="">
        <img src="../../images/html-img/DSC02661.JPG" alt="">
        <img src="../../images/html-img/DSCN5654.jpg" alt="">
        <img src="../../images/html-img/DSCN5656.jpg" alt="">
        <img src="../../images/html-img/DSCN5657.jpg" alt="">
        <img src="../../images/html-img/DSCN5712.jpg" alt="">
        <img src="../../images/html-img/mlp2006-(104).jpg" alt="">
        <img src="../../images/html-img/mlp2006-(101).jpg" alt="">
        <img src="../../images/html-img/mlp2006-(106).jpg" alt="">
      </div>

      <div class="header__club-identification">
        <div class="header__logo">
          <img src="../../images/logo.jpg" alt="LOMC Logo" />
        </div>

        <div class="header__title">
          <h1>Limburgse Oude Motoren Club</h1>
        </div>
      </div>



    </header>

    <nav class="navigation-desktop">
      <div class="grid__container">
        <div class="navigation-desktop__wrapper">
          <ul class="navigation-desktop__items">
            <li class="navigation-desktop__item">
              <a class="navigation-desktop__link" href="#">Home</a>
            </li>
            <li class="navigation-desktop__item">
              <a class="navigation-desktop__link" href="#">Contact</a>
            </li>
            <li class="navigation-desktop__item">
              <a class="navigation-desktop__link" href="#">Linken</a>
            </li>
            <li class="navigation-desktop__item">
              <a class="navigation-desktop__link" href="#">Foto's</a>
            </li>
            <li class="navigation-desktop__item">
              <a class="navigation-desktop__link" href="#">Lid worden</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="main">
      <div class="grid__container">
        <div class="main__wrapper">
          <div class="main__content">
            <h2>Voorstelling Limburgse Oude Motoren Club</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
              iaculis odio nibh, ac semper urna rhoncus feugiat. Aliquam non
              euismod diam, facilisis finibus felis. Integer ultrices nisi
              sollicitudin lacus dapibus rutrum. Sed aliquet ornare sapien a
              cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              a nulla ac nisl dapibus euismod vel in enim. Vivamus quis libero vel
              tellus sagittis efficitur vel sit amet quam.
              <a href="www.google.com">Google</a>
            </p>
          </div>

          <aside class="sidebar">
            <div class="sidebar__cta">
              <a href="#" class="btn btn--green">
                Lid worden van onze club
              </a>
            </div>

            <div class="sidebar__photos">
              <img src="../../images/html-img/DSC02645.JPG" alt="">
              <img src="../../images/html-img/DSCN5653.jpg" alt="">
              <img src="../../images/html-img/DSCN5657.jpg" alt="">
            </div>
          </aside>

        </div>
      </div>

    </main>


  </div>
  <!-- end of page -->

  <footer class="footer">
    <div class="grid__container">

      <div class="footer__wrapper">
        Footer
      </div>

    </div>
  </footer>

  <script src="../../js/menu.js"></script>
</body>

</html>