// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// COLORS
$yellow: #FFFDD4;
$white: #FFFFFF;
$red: #E8351D;
$blue-green: #119DA4;
$metallic-seaweed: #0C7489;
$midnight-green: #13505B;

// FONTS
$font-family: 'Work Sans', sans-serif;
$base-font-size: 1.6rem;