// /////////////////////////
// @@ VARIABLES
// ////////////////////////


// COLORS VARIABLES
$yellow: #FFFDD4;
$white: #FFFFFF;
$black: #000000;
$red: #E8351D;
$blue-green: #119DA4;
$metallic-seaweed: #0C7489;
$midnight-green: #13505B;

// TYPE VARIABLES
$clr-text: $black;
$clr-link: $blue-green;

// BUTTONS
$btn-red: $white $red;
$btn-green: $white $blue-green;
$btn-gray: $white $midnight-green;

// FONTS VARIABLES
$ff-sans: 'Work Sans', sans-serif;
$ff-size: 1.6rem;
$fw-normal: 400;
$fw-bold: 700;

// OTHER
$trans-speed: .3s;