{#
/**
 * SCSS regions/_menu-overlay.scss
*/
#}

<div class="menu-overlay">

  <div class="close__button">
    <span class="hamburger__icon--close">&nbsp;</span>
  </div>
  <nav class="menu-overlay__list">

    <ul class="menu-overlay__items">
      <li class="menu-overlay__item">
        <a href="{{ path('<front>') }}" class="menu-overlay__link">Home</a></li>
      <li class="menu-overlay__item">
        <a href="#" class="menu-overlay__link">Agenda</a>
      </li>
      <li class="menu-overlay__item">
        <a href="#" class="menu-overlay__link">Contact</a>
      </li>
      <li class="menu-overlay__item">
        <a href="#" class="menu-overlay__link">Linken</a>
      </li>
      <li class="menu-overlay__item">
        <a href="#" class="menu-overlay__link">Foto's</a>
      </li>
      <li class="menu-overlay__item">
        <a href="#" class="menu-overlay__link">Lid worden</a>
      </li>
    </ul>

  </nav>
</div>

