{#
/**
 * SCSS - 03-regions/_navigation.scss
 *
 * include under the header only desktop
 * include in footer only desktop
*/
#}

<div class="grid__container">
  <div class="grid__row">
    <ul class="nav__items">
      {% include directory ~ '/templates/partials/shared/menu-items.html.twig' %}
    </ul>
  </div>
</div>