{#
/**
 *
*/
#}

  <div class="grid__container">
    <div class="grid__row">
      <ul class="nav__items">
        <li class="nav__item">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Agenda</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contact</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Linken</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Foto's</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Lid worden</a>
        </li>
      </ul>
    </div>
  </div>
