{# 
/**
 *  SCSS - 04-components/_cta.scss
*/

 #}

<div class="cta">
  <a href="{{ base_path }}webform/become_a_member" class="btn btn--green btn--full-width">
    {{ 'Lid worden van onze club'|t }} 
  </a>
</div>