{#
/**
 * SCSS .scss
 * on hold
*/
#}

<li><a class="link" href="{{ path('<front>') }}">Home</a></li>

<li><a class="link" href="{{ base_path}}lomc-agenda">Agenda</a></li>
      
<li><a class="link" href="#">Contact</a></li>

<li><a class="link" href="{{ base_path }}lomc-bestuursleden">Bestuur</a></li>
      
<li><a class="link" href="#">Linken</a></li>
      
<li><a class="link" href="#">Foto's</a></li>
      
<li><a class="link" href="#">Lid worden</a></li>
