{# 
/**
 * The sidebar region on the page--front.html.twig and page.html.twig
*/
#}

<aside class="sidebar">
  <div class="sidebar__cta">
    <a href="{{ base_path }}webform/become_a_member" class="btn btn--green btn--full-width">
      Lid worden van onze club
    </a>
  </div>

  <div class="sidebar__photos">
    {# sidebar photos #}
    {{ page.sidebar_photos }}
  </div>
</aside>