{# 
/**
 * The sidebar region on the page--front.html.twig and page.html.twig
*/
#}

<aside class="sidebar">

  {% include directory ~ '/templates/partials/shared/cta.html.twig' %}

  <div class="sidebar__photos">
    {# sidebar photos #}
    {{ page.sidebar_photos }}
  </div>
</aside>