// /////////////////////////
// @@ FRONT-PAGE
// ////////////////////////

.front__page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header"
    "front-main"
    "footer";

  @include mq(tablet) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: 
      "header"
      "nav-desktop"
      "front-main"
      "footer";
  }
}