// /////////////////////////
// @@ GRID
// ////////////////////////

.grid__container {
  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(55vw, 75vw)  minmax(2rem, 1fr);
  grid-template-areas: 
    ". wrapper .";
}