// /////////////////////////
// @@ FOOTER
// ////////////////////////

.footer {
  background: $blue-green;
  bottom: 0;
  left: 0;
  right: 0;
  color: $white;
  padding: 3rem 0;

  grid-area: footer;

  @include mq(desktop) {
    @include e(inner) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: "left right";
      align-items: center;
    }
  }

  @include e(right) {
    grid-area: right;
    justify-self: center;
  }

  @include e(left) {
    align-self: end;
    &-wrap {
      display: flex;
      align-items: flex-end;

      grid-area: left;
    }
  }

  @include e(logo) {
    padding-right: 3rem;
    max-width: 20rem;
  }

  @include e(copy) {
    font-size: 1rem;
  }
}
