// /////////////////////////
// @@ HEADER
// ////////////////////////

.header {
  background: $midnight-green;
  margin-top: 4rem;

  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(55vw, 75vw) minmax(2rem, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;

  @include mq(tablet) {
    grid-template-columns: minmax(2rem, 1fr) minmax(49vw, 69vw) minmax(2rem, 1fr);
  }

  @include mq(desktop) {
    grid-template-columns: minmax(2rem, 1fr) minmax(45vw, 65vw) minmax(2rem, 1fr);
  }

  @include mq(desktop) {
    margin-top: 0;
  }

  grid-area: header;


  // node--header-images--full.html.twig
  // field--field-header-img.html.twig
  // image.html.twig
  &__node, &__field, &__img-field {
    height: 100%;
  }


  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
    display: block;

    @include mq(tablet) {
      display: none;
    }

    &--desktop {
      display: none;

      @include mq(tablet) {
        display: block;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 1;
      }

      @include mq(big-desktop) {
        display: none;
      }
    }

    &--big-desktop {
      display: none;

      @include mq(big-desktop) {
        display: block;
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 1;
      }
    }
  }

  &__club-identification {
    z-index: 3;
    background: rgba($white, 0.5);
    padding: 1rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;

    @include mq(tablet) {
      padding: 2rem;
    }

    @include mq(desktop) {
      padding: 3rem;
    }

    &--page {
      color: $white;
      background: none;
    }
  }

  &__logo {
  }

  &__title {
    margin-left: 2rem;
    text: {
      align: center;
    }
  }
}

// views-view--header_images_desktop.html.twig
.grid-header__img--desktop {
  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
}


.grid-header__img--big-desktop {
  @include mq(tablet) {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 50%);
  }
}