// /////////////////////////
// @@ HEADER
// ////////////////////////

.header {
  background: $midnight-green;
  margin-top: 4rem;

  display: grid;
  grid-template-columns: minmax(2rem, 1fr) minmax(55vw, 75vw) minmax(2rem, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;

  @include respond(tablet) {
    grid-template-columns: minmax(2rem, 1fr) minmax(49vw, 69vw) minmax(2rem, 1fr);
    max-height: 50vh;
  }

  @include respond(desktop) {
    grid-template-columns: minmax(2rem, 1fr) minmax(45vw, 65vw) minmax(2rem, 1fr);
    max-height: 50vh;
  }

  @include respond(desktop) {
    margin-top: 0;
  }

  grid-area: header;

  &__img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
    overflow: hidden;
    display: block;

    @include respond(tablet) {
      display: none;
    }

    &--desktop {
      display: none;

      @include respond(tablet) {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 1;
        overflow: hidden;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 50%);
      }
    }

    &--big-desktop {
      display: none;

      @include respond(big-desktop) {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        z-index: 1;
        overflow: hidden;

        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 50%);
      }
    }

  }

  &__club-identification {
    z-index: 3;
    background: rgba($white, 0.5);
    padding: 2rem;
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;

    @include respond(tablet) {
      grid-column: 2 / 3;

      grid-template-columns: minmax(15rem, 18rem) 3fr;
      justify-items: center;
      margin: 3rem 0;
    }

    @include respond(desktop) {
      margin: 7rem 0;
    }
  }

  &__logo {
    align-self: center;
  }

  &__title {
    align-self: center;
    font: {
      size: 3vmin;
      weight: $font-weight-bold;
    }
  }
}
