// //////////////////////////////
// @@ MAIN
// //////////////////////////////

.main {
  padding: 3rem 0 11rem;
  grid-area: main;

  &__wrapper {
    // grid-area: wrapper;

    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    grid-template-areas:
      "sidebar"
      "content";

    @include respond(desktop) {
      grid-template-columns: 4fr 2fr;
      grid-template-areas:
        "content sidebar"
    }
  }

  &__content {
    grid-area: content;
  }


}