// //////////////////////////////
// @@ MENU OVERLAY
// //////////////////////////////

.menu-overlay {
  height: 50vh;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 175;
  opacity: 0;
  width: 0;
  background: $metallic-seaweed;
  transition: all 0.8s;

  &__checkbox:checked ~ &__top {
    opacity: 1;
    width: 100vw;
    right: 0;
}