// //////////////////////////////
// @@ NAVIGATION
// //////////////////////////////
// BEM elements and modifiers to mixin
.nav {
  color: $white;

  // &--top {}
  @include m(top) {
    background: $red;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 190;

    @include mq(desktop) {
      display: none;
    }
  }

  @include m(hidden) {
    display: none;
  }

  // Desktop Navigation
  @include m(header) {
    display: none;
    background: $red;
    padding: 2rem 0;
    grid-area: nav-desktop;

    @include mq(desktop) {
      display: block;
    }
  }

  @include m(footer) {
    display: none;

    @include mq(desktop) {
      display: block;
    }
  }

  @include e(items) {
    list-style: none;
    padding-left: 0;
    display: flex;

  }

  @include e(item) {
    &:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

.link {
  text-decoration: none;
  color: $white;
  transition: all $trans-speed;

  &:hover {
    color: $black;
  }
}

.is-active {
  color: $black;
}
