// //////////////////////////////
// @@ NAVIGATION
// //////////////////////////////

.nav {
  color: $white;

  &--top {
    background: $red;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 190;

    @include respond(desktop) {
      display: none;
    }

  }

  &--hidden {
    display: none;
  }


  // Desktop Navigation
  &--header {
    display: none;
    background: $red;
    padding: 1rem 0;
    grid-area: nav-desktop;

    @include respond(desktop) {
      display: block;
    }

  }

  &--footer {

  }

  // &__wrapper {
  //   grid-area: wrapper;
  // }

  &__items {
    list-style: none;
    padding-left: 0;
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
  }
}
