// //////////////////////////////
// @@ FRONT-PAGE-MAIN-CONTENT
// //////////////////////////////

.main {
  margin: 4rem 0 6rem;
  grid-area: main;

  @include e(front-wrap) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
    align-items: start;
    grid-template-areas:
      "agenda"
      "main-content"
      "sidebar"
      "sub-content";

    @include mq(desktop) {
      grid-template-columns: 3fr 1fr;
      grid-template-areas:
        "agenda sidebar"
        "main-content sidebar"
        "sub-content sidebar";
    }
  }

  @include e(front-content) {
    grid-area: main-content;
  }

  @include e(sub-content) {
    grid-area: sub-content;

    display: grid;
    grid-gap: 4rem;
  }
}
