// //////////////////////////////
// @@ PAGE-MAIN-CONTENT
// //////////////////////////////

.main {

  @include e(page-wrap) {
    @include mq(desktop) {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 4rem;
      grid-template-areas: "main-content sidebar";
    }
  }

  @include e(page-no-sidebar) {
    width: 100%;
  }

  @include e(content) {
    grid-area: main-content;
  }
}
