// /////////////////////////
// @@ SIDEBAR
// ////////////////////////

.sidebar {
  grid-area: sidebar;

  @include mq(desktop) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }

  &__cta {
    display: flex;
  }

  &__photos {
    overflow: hidden;
    display: none;

    @include mq(desktop) {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1.5rem;
      justify-content: space-between;
    }

  }

  // node--header-images--teaser.html.twig
  &__images-block {
    margin-bottom: 2rem;
  }
}