// /////////////////////////
// @@ BUTTONS
// ////////////////////////

.btn {
  &,
  &:link,
  &:visited {
    @include btn(transparant, transparant);
  }

  @include hover();

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    @include box-shadow;
  }

  &--green {
    @include btn($btn-green...);
  }

  &--red {
    // mixin btn bundled with a list on _variables.scss
    @include btn($btn-red...);
  }

  &--full-width {
    width: 100%;
    text-align: center;
  }

}