// /////////////////////////
// @@ BUTTONS
// ////////////////////////

.btn {
  &,
  &:link,
  &:visited {
    color: $white;
    padding: 1rem 2rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all .3s;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($black,.3);
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 1rem 2rem rgba($black,.3);
  }

  &--green {
    background: $blue-green;

  }

  &--red {
    background: $red;
  }

  &--full-width {
    width: 100%;
    text-align: center;
  }

}