// /////////////////////////
// @@ BUTTONS
// ////////////////////////

.btn {
  &,
  &:link,
  &:visited {
    @include btn;
  }

  &:hover {
    transform: translateY(-0.3rem);
    @include box-shadow;
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    @include box-shadow;
  }

  &--green {
    @include btn($blue-green);
  }

  &--red {
    @include btn($red);
  }

  &--full-width {
    width: 100%;
    text-align: center;
  }

}