// //////////////////////////////
// @@ IMAGES
// //////////////////////////////

.image {

  &__content {
    width: 100%;
    display: block;
    margin-bottom: 2rem;

    @include mq(tablet) {
      width: 35vw;
      float: left;
      margin-right: 2rem;
    }

    @include mq(desktop) {
      width: 18vw;
      float: left;
      margin-right: 2rem;
      margin-bottom: 0;
    }

  }
}