// /////////////////////////
// @@ PANELS
// ////////////////////////

.panel {
  padding: 2rem;
  transition: all 0.3s;
  position: relative;

   > a {
    text-decoration: none;
    color: $clr-text;
  }

  @include hover();

  &--red {
    border: solid 2px $red;
  }

  &--blue {
    border: solid 2px $blue-green;
  }
}