// /////////////////////////
// @@ PANELS
// ////////////////////////

.panel {
  padding: 2rem;
  text-decoration: none;
  color: $clr-text;
  transition: all 0.3s;

  @include hover();
  
  &--red {
    border: solid 2px $red;
  }

  &--blue {
    border: solid 2px $blue-green;
  }
}