// /////////////////////////
// @@ READ-MORE
// ////////////////////////

.read-more {
  grid-area: btn;

  &--right {
    justify-self: end;
    text-align: right;
  }

  &--left {
    justify-self: start;
  }
  

}