// /////////////////////////
// @@ FONTS
// ////////////////////////

html {
  font-family: $ff-sans;
}

body {
  font-size: $ff-size;
  color: $clr-text;
  line-height: 2rem;
}

h1, h2, h3, h4 {
  font-weight: $fw-bold;
}

h1 {
  font-size: 4vw;  //! not rem but vw
  line-height: 100%;
  text-transform: uppercase;
}

h2 {
  font: {
    size: calc(#{$ff-size} + .9rem);
  }
  margin-bottom: 3rem;
  line-height: 3rem;
}

h3 {
  font: {
    size: calc(#{$ff-size} + .4rem);
  }
  margin-bottom: 1rem;
}