
{#
/**
 *
 * page--front.html.twig
*/
#}

<!-- Navigation top for mobile view -->
{% include directory ~ '/templates/navigation/nav--top.html.twig' %}

<!-- menu overlay only for mobile view -->
{% include directory ~ '/templates/navigation/nav--overlay.html.twig' %}

<div class="page">
  <!-- header -->
  <header class="header">
    {# one image random mobile #}
    <div class="header__img">
      {{ page.header_mobile }}
    </div>

    {# collection of 8 images placed by grid random ordered #}
    <div class="header__img--desktop">
      {{ page.header_desktop }}
    </div>
    {# collection of 10 images placed by grid random ordered #}
    <div class="header__img--big-desktop">
      {{ page.header_bigdesktop }}
    </div>
    
    <div class="header__club-identification">
      {% include directory ~ '/templates/partials/identification-front.html.twig' %}
    </div>

  </header>

  {# nav--header #}
  <div class="nav--header">
    {% include directory ~ '/templates/navigation/nav--header.html.twig' %}
  </div>
  
  <main class="main">
    <div class="grid__container">
      <div class="grid__row">
        <div class="main__front-wrap">

          {# agenda region #}
          {% include directory ~ '/templates/partials/front-page/agenda.html.twig' %}

          <div class="main__front-content">
            {# aboutus region #}
            {% include directory ~ '/templates/partials/front-page/aboutus.html.twig' %}
          </div>

          <div class="main__sub-content">
            <div class="activities__content">
              {% include directory ~ '/templates/partials/front-page/activities.html.twig' %}
            </div>

            <div class="insurance__content">
              {{ page.assurance }}
            </div>
          </div>
  
          {# sidebar photos #}
          {% include directory ~ '/templates/partials/shared/sidebar.html.twig' %}

        </div>
      </div>
    </div>
  </main>

  {# footer region #}
  {% include directory ~ '/templates/partials/shared/footer.html.twig' %}

</div>
<!-- end of page -->