
{#
/**
 *
 *
*/
#}

  <!-- Navigation top for mobile view -->
  {% include directory ~ '/templates/navigation/nav--top.html.twig' %}

  <!-- menu overlay only for mobile view -->
  {% include directory ~ '/templates/navigation/nav--overlay.html.twig' %}

  <div class="front__page">

    <!-- header -->
    <header class="header">
     
       {% include directory ~ '/templates/partials/shared/identification.html.twig' %}

    </header>

    <nav class="nav--header">
      {% include directory ~ '/templates/navigation/nav--header.html.twig' %}
    </nav>

    <main class="page-main">
      <div class="grid__container">
        <div class="grid__row">

          <div class="page-main__wrap">        

            <div class="layout-content">
              {{ page.content }}
            </div>{# /.layout-content #}

            {# sidebar photos #}
              {% include directory ~ '/templates/partials/shared/sidebar.html.twig' %}

          </div>
          {# end main-wrap #}
        </div>
          {# end grid__row #}
      </div>
        {# end grid__container #}
    </main>

  </div>
  <!-- end of page -->

 {% include directory ~ '/templates/partials/shared/footer.html.twig' %}
